body{
--color1: hsla(200, 80%, 86%, 1);
--color2: hsla(223, 76%, 28%, 1);
--color3: rgb(244, 67, 35);;
--color4: hsla(30, 36%, 87%, 1);
--color5: hsla(208, 8%, 87%, 1);

--pad: 20px;

background-color: var(--color4);
font-family: 'Didact Gothic', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--pad);
}

section {
    background-color: var(--color1);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--pad);
    padding-bottom: var(--pad);
    margin-top: var(--pad);
    margin-bottom: var(--pad);
    border: solid 2px var(--color2);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color3);
    height: 100px;
    width: 100%;
    color: var(--color4);
}

input[type=radio] {
    display: none;
}

/*img[type=img] {
    border: solid 2px var(--color3);
}*/

input:checked + img {
    border: solid 2px var(--color3);
}


h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: var(--pad);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--pad);
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    color: var(--color4)
}